.post-slider {
	display: flex;
	position: relative;
	padding: 2.5rem 4rem;
	width: 100%;
	box-sizing: border-box;

	* {
		color: inherit;
	}
	.post-slider__title,
	.post-slider__excerpt,
	.post-slider__link-container {
		max-width: 1200px;
	}
}

.post-slider-scrollbar {
	position: absolute;
	height: 15px;
	bottom: 0;
	left: 0;
	right: 0;
}

.post-slider__scrollbar-inner {
	position: absolute;
	left: 0;
	height: 100%;
}

.post-slider__navigation-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 16px;
	height: 35px;
	width: 35px;

	i {
		height: 100%;
		width: 100%;
		display: block;
	}
}
