.post-slider {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 2.5rem 4rem;
	width: 100%;
	box-sizing: border-box;
	margin: 0;

	* {
		color: inherit;
		padding: 0;
		margin: 0;
	}
	.slide__title,
	.slide__excerpt,
	.slide__link-container {
		max-width: 1200px;
		margin: 0.25rem 0;
	}
}

.slide__scrollbar {
	position: absolute;
	height: 10px;
	bottom: 0;
	left: 0;
	right: 0;
}

.slide__scrollbar-inner {
	position: absolute;
	left: 0;
	height: 100%;
}

.slide__navigation-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 16px;
	height: 35px;
	width: 35px;
	background: none;
	border: none;

	i {
		height: 100%;
		width: 100%;
		display: block;
		position: relative;
		z-index: 10;
	}
}
