// alignment  classes
// align-items property aligns vertically (left to right)
.align-content--top-left {
	align-items: start;
	justify-content: start;
	text-align: left;
}
.align-content--top-center {
	align-items: center;
	justify-content: start;
	text-align: center;
}
.align-content--top-right {
	align-items: end;
	justify-content: start;
	text-align: right;
}
// align middle  classes
.align-content--center-left {
	align-items: start;
	justify-content: center;
	text-align: left;
}
.align-content--center-center {
	align-items: center;
	justify-content: center;
	text-align: center;
}
.align-content--center-right {
	align-items: end;
	justify-content: center;
	text-align: right;
}
// // align bottom classes
.align-content--bottom-left {
	align-items: start;
	justify-content: end;
	text-align: left;
}
.align-content--bottom-center {
	align-items: center;
	justify-content: end;
	text-align: center;
}
.align-content--bottom-right {
	align-items: end;
	justify-content: end;
	text-align: right;
}

// filters classes
.blur-bg {
	backdrop-filter: blur(6px);
}

// position classes
.left {
	left: 0;
}

.right {
	right: 0;
}

.top-50 {
	top: 50%;
	transform: translateY(-50%);
}

.m-horizontal--16 {
	margin: 0 16px;
}

// icons

.caret-left {
	mask-image: url("./assets/icons/caret-left-solid.svg");
	mask-repeat: no-repeat;
	mask-position: center center;
}

.caret-right {
	mask-image: url("./assets/icons/caret-right-solid.svg");
	mask-repeat: no-repeat;
	mask-position: center center;
}

// overlay classes

.button-overlay {
	position: absolute;
	z-index: 0;
	inset: 0;
	display: block;
	height: 100%;
	@extend .blur-bg;
}

.hide {
	opacity: 0;
}

.drop-shadow {
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07), 0 4px 2px rgba(0, 0, 0, 0.07),
		0 8px 4px rgba(0, 0, 0, 0.07), 0 16px 8px rgba(0, 0, 0, 0.07),
		0 32px 16px rgba(0, 0, 0, 0.07);
}
