// align top (horizontal) classes
.align-content--top-left {
	align-items: start;
	justify-content: left;
	text-align: left;
}
.align-content--top-center {
	align-items: start;
	justify-content: center;
	text-align: center;
}
.align-content--top-right {
	align-items: start;
	justify-content: right;
	text-align: right;
}
// align center (horizontal) classes
.align-content--center-left {
	align-items: center;
	justify-content: left;
	text-align: left;
}
.align-content--center-center {
	align-items: center;
	justify-content: center;
	text-align: center;
}
.align-content--center-right {
	align-items: center;
	justify-content: right;
	text-align: right;
}
// align bottom (horizontal) classes
.align-content--bottom-left {
	align-items: end;
	justify-content: left;
	text-align: left;
}
.align-content--bottom-center {
	align-items: end;
	justify-content: center;
	text-align: center;
}
.align-content--bottom-right {
	align-items: end;
	justify-content: right;
	text-align: right;
}

// filters classes
.blur-bg {
	backdrop-filter: blur(3px);
}

// position classes
.left {
	left: 0;
}

.right {
	right: 0;
}

// icons

.caret-left {
	background-image: url("../icons/caret-left-solid.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.caret-right {
	background-image: url("../icons/caret-right-solid.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

// overlay classes

.button-overlay {
	height: 100%;
	width: 100%;
	display: block;
	@extend .blur-bg;
}
