// alignment  classes
// align-items property aligns vertically (left to right)
.align-content--top-left {
	align-items: start;
	justify-content: start;
	text-align: left;
}
.align-content--top-center {
	align-items: center;
	justify-content: start;
	text-align: center;
}
.align-content--top-right {
	align-items: end;
	justify-content: start;
	text-align: right;
}
// align middle  classes
.align-content--center-left {
	align-items: start;
	justify-content: center;
	text-align: left;
}
.align-content--center-center {
	align-items: center;
	justify-content: center;
	text-align: center;
}
.align-content--center-right {
	align-items: end;
	justify-content: center;
	text-align: right;
}
// // align bottom classes
.align-content--bottom-left {
	align-items: start;
	justify-content: end;
	text-align: left;
}
.align-content--bottom-center {
	align-items: center;
	justify-content: end;
	text-align: center;
}
.align-content--bottom-right {
	align-items: end;
	justify-content: end;
	text-align: right;
}

// filters classes
.blur-bg {
	backdrop-filter: blur(6px);
}

// position classes
.left {
	left: 0;
}

.right {
	right: 0;
}

// icons

.caret-left {
	background-image: url("./assets/icons/caret-left-solid.svg");
	background-repeat: no-repeat;
	background-position: center center;
	fill: currentColor;
}

.caret-right {
	background-image: url("./assets/icons/caret-right-solid.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

// overlay classes

.button-overlay {
	position: absolute;
	z-index: 0;
	inset: 0;
	display: block;
	height: 100%;
	@extend .blur-bg;
}
