/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
@use "./assets/css/utilities";

.easy-ps-editor-post-slider {
	background-color: #dee2e6;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 2.5rem 4rem;
	width: 100%;
	box-sizing: border-box;
	margin: 1rem 0;
	overflow: hidden;

	* {
		color: inherit;
	}
}

.easy-ps-editor-slide__cover-image__overlay {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}

.easy-ps-editor-slide__cover-image {
	position: absolute;
	height: 100%;
	inset: 0;
	background-color: rgb(199, 199, 199);
	background-image: url(./assets/icons/image-regular.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: clamp(20rem, 50%, 28rem);
	z-index: 0;
}

.easy-ps-editor-post-slider-controls {
	fieldset {
		margin: 12px 0;
	}

	label {
		font-weight: 500;
		text-transform: uppercase;
		font-size: 11px;
	}
}

.easy-ps-editor-post-slider-units-control {
	width: 75px;
}

.easy-ps-slide__content {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	z-index: 90;
	max-width: 900px;
}

.easy-ps-slide__excerpt {
	overflow: hidden;
	text-overflow: ellipsis;
}

.easy-ps-slide__link-container {
	display: flex;
	flex-direction: column;
}

.easy-ps-slide__title,
.easy-ps-slide__excerpt,
.easy-ps-slide__link-container {
	max-width: 1200px;
	margin: 0.25rem 0;
	position: relative;
	z-index: 10;
}

.easy-ps-slide__link {
	min-width: fit-content;
	width: 150px;
	height: 75px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5rem 0;
	border: none;
}

.easy-ps-slide__link-label {
	position: relative;
	z-index: 10;
}

.easy-ps-slide__link-overlay {
	height: 100%;
	position: absolute;
	inset: 0;
	z-index: 0;
}

.easy-ps-slide__scrollbar {
	position: absolute;
	height: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.easy-ps-slide__scrollbar-dots {
	position: absolute;
	bottom: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.easy-ps-scrollbar-dot {
	height: 12px;
	width: 12px;
	border: 1px solid;
	border-radius: 50%;
}

.easy-ps-scrollbar-dot--fill {
	background-color: #000000;
}

.easy-ps-slide__scrollbar-inner {
	position: absolute;
	left: 0;
	height: 100%;
}

.easy-ps-slide__navigation-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 16px;
	height: 35px;
	width: 35px;
	background: none;
	border: none;
	z-index: 100;

	i {
		height: 100%;
		width: 100%;
		display: block;
		position: relative;
		z-index: 10;
	}
}
