/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use "./assets/css/utilities";

.easy-post-slider-wrapper {
	overflow-x: hidden;
	position: relative;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.post-slider {
	position: relative;
	padding: 0;
	margin: 0;
	list-style-type: none;
	box-sizing: border-box;
	width: 100%;
	height: fit-content;

	// scroll behavior
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;

	// remove scrollbar
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}

	@media screen and (max-width: 675px) {
		min-height: 300px !important;
		height: 80vh !important;
	}
}

.navigation-button-wrapper {
	position: absolute;
	z-index: 100;

	@media screen and (max-width: 675px) {
		margin: 0;
	}
}

.navigation-button {
	height: 35px;
	width: 35px;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: opacity 200ms ease;

	&:disabled {
		cursor: default;
		opacity: 0;
	}

	&:focus {
		opacity: 1;
	}

	@media screen and (max-width: 675px) {
		opacity: 1;
		width: 30px;
	}
}

.overlay {
	position: absolute;
	inset: 0;
	z-index: 0;
}

.caret {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	inset: 0;
	z-index: 100;
}

.slide {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	scroll-snap-align: center;
	padding: 2rem;
	box-sizing: border-box;

	@media screen and (max-width: 675px) {
		align-items: center;
		text-align: center;
	}
}

.slide-content {
	padding: 2rem 3rem;
	z-index: 90;
	max-width: 900px;
	box-sizing: border-box;

	&:focus {
		outline: 2px solid rgb(245, 9, 9);
	}

	@media screen and (max-width: 675px) {
		width: 80%;
		min-width: 300px;
		max-width: 550px;
		padding: 1rem;
	}
}

.cover-image {
	background-position: center center;
}

.slide-content__title,
.slide-content__excerpt,
.slide-content__read-more {
	margin: 0.5rem 0;
}

.slide-content__excerpt {
	max-width: 1200px;
	overflow: hidden;
	text-overflow: ellipsis;

	@media screen and (max-width: 675px) {
		max-height: 200px;
	}
}

.slide-content__read-more {
	margin: 1rem 0;
}

.slide-content__read-more-link {
	display: inline-block;
	position: relative;
	padding: 1rem;
}

.slide-content__read-more-label {
	z-index: 10;
	position: relative;
}

.slide-content__image-overlay {
	position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
	z-index: 20;
}

.slide-content__image-full {
	position: absolute;
	inset: 0;
	object-fit: cover;
	object-position: center center;
	height: 100%;
	width: 100%;
	z-index: 10;
	opacity: 0;
	transition: opacity 250ms ease;
}

.slide-content__image-thumbnail {
	position: absolute;
	inset: 0;
	object-fit: cover;
	object-position: center center;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.visuallyhidden {
	pointer-events: none;
	width: 0;
	height: 0;
}

.scrollbar-progress {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10px;
	width: 100%;
	z-index: 100;
	backdrop-filter: blur(4px);
}

.scrollbar-progress__inner {
	transform-origin: left;
	height: 100%;
	transition: width 175ms ease;
}

.scrollbar-progress__overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	inset: 0;
}

.scrollbar-dots {
	position: absolute;
	bottom: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	z-index: 100;
}

.scrollbar-dots__dot {
	height: 12px;
	width: 12px;
	border: 1px solid;
	border-radius: 50%;
}
