/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use "./assets/css/utilities";

.wp-block-parfait-designs-post-slider {
	overflow-x: hidden;
	position: relative;
}

.post-slider {
	position: relative;
	padding: 0;
	margin: 0;
	list-style-type: none;
	box-sizing: border-box;
	width: 100%;
	height: 250px;
	background-color: tomato;

	// scroll behavior
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;

	// remove scrollbar
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}

	@media screen and (max-width: 675px) {
		height: 100vh;
	}
}

.interface {
	position: absolute;
	z-index: 100;
	backdrop-filter: blur(4px);

	@media screen and (max-width: 675px) {
		margin: 0;
	}
}

.navigation-button {
	height: 25px;
	width: 35px;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: opacity 200ms ease;

	@media screen and (max-width: 675px) {
		opacity: 1;
		width: 30px;
	}
}

.overlay {
	position: absolute;
	inset: 0;
	z-index: 0;
}

.caret {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	inset: 0;
	z-index: 100;
}

.slide {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: lightblue;
	display: flex;
	flex-direction: column;
	scroll-snap-align: center;
	padding: 2rem;
	box-sizing: border-box;

	@media screen and (max-width: 675px) {
		align-items: center;
		text-align: center;
	}
}

.slide-content {
	padding: 2rem 3rem;
	z-index: 90;

	&:focus {
		outline: 2px solid red;
	}

	@media screen and (max-width: 675px) {
		width: 80%;
		min-width: 300px;
		max-width: 550px;
		padding: 1rem;
	}
}

.cover-image {
	background-position: center center;
}

.slide-content__title,
.slide-content__excerpt,
.slide-content__read-more {
	margin: 0.5rem 0;
}

.slide-content__excerpt {
	max-width: 1200px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.slide-content__read-more {
	margin: 1rem 0;
}

.slide-content__read-more-link {
	display: inline-block;
	position: relative;
	padding: 1rem;
	@extend .blur-bg;
}

.slide-content__read-more-label {
	z-index: 10;
	position: relative;
}

.slide-content__image {
	position: absolute;
	inset: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.visuallyhidden {
	pointer-events: none;
	width: 0;
	height: 0;
}

.scrollbar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10px;
	width: 100%;
	z-index: 100;
	backdrop-filter: blur(4px);
}

.scrollbar__inner {
	transform-origin: left;
	height: 100%;
	transition: width 175ms ease;
}

.scrollbar__overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	inset: 0;
}
